footer{
  background: #f5f5f5;
  border-top: 1px solid #eee;
  font-size: 11px;
  line-height: 2.19;
  list-style: none;
  padding: 10px 15px 10px 15px;
  .container-footer{
    margin: auto;
    max-width: 978px;
    .footer-left{
      float: left;
      ul{
        display: inline-block;
        li{
          display: inline-block;
          a{
            color: rgba(61,61,61,.8);
            margin-right: 10px;
          }
        }
      }
    }
    .footer-right{
      float: right;
    }
  }
}
